/* src/assets/scss/pages/_home.scss */
.home {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 40px;
  .main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 855px;
    section {
      margin-bottom: 40px;
    }
  }

  .sidebar {
    width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 120px;
  }
}
