.header {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    z-index: 10;
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    .header__inner {
      position: relative;
      max-width: 1600px;
      margin: 0 auto;
      padding: 25px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
    .logo img {
      height: 24px;
    }
  
    .main-menu{
      margin-left: 1vw;
      ul {
        display: flex;
        gap: 24px;
    
        li a {
          font-size: 15px;
          color: #000;
          font-weight: 500;
          transition: 0.2s;
    
          &.active {
            color: #0070f3;
          }
        }
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      gap: 20px;
      position: absolute;
      right: 0;
  
      .utility-menu {
        display: flex;
        gap: 12px;
  
        li a {
          font-size: 13px;
          color: #555;
        }
      }
  
      .search-box {
        display: flex;
        align-items: center;
        gap: 6px;
  
        button {
          background: none;
          border: none;
          cursor: pointer;
  
          img {
            width: 18px;
          }
        }
  
        input {
          border: none;
          border-bottom: 1px solid #ccc;
          padding: 4px 6px;
          font-size: 14px;
  
          &::placeholder {
            color: #aaa;
          }
        }
      }
    }
  }
  

  .main-menu ul {
    display: flex;
    gap: 24px;
  
    li {
      position: relative;
  
      a {
        font-size: 15px;
        color: #000;
        font-weight: 500;
        transition: 0.2s ease;
        font-family: 'YouandiNewKr';

      }
  
      &.active a {
  
        &::after {
          content: '';
          position: absolute;
          bottom: -28px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #000;
        }
      }
    }
  }
  